@page
@model RestaurantReservation.Frontend.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Invalid Access";
}

<center>
    <br />
    <h1 class="text-danger">You do not have access to this resource.</h1>
</center>